<mat-toolbar class="navbbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">
        menu
      </mat-icon>
    </button>
    <h1>Hackathon</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
      <a mat-list-item  [routerLink]="'/designs'"> <mat-icon>home</mat-icon> Designs</a>
      <a mat-list-item [routerLink]="'/accounts'"> <mat-icon>perm_identity</mat-icon> Account</a>
      <a mat-list-item> <mat-icon> highlight</mat-icon> IDE</a>
      <hr class="line">
      <div class="devops">
        <h3>Devops</h3>
        <span>view</span>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




